[Desktop Entry]
Type=Application
Name=Jellyfin Music
GenericName=Music Player
Comment=Stream music from Jellyfin server
Exec=kitty --class jellycli --title "Jellyfin" -e jellycli
Icon=audio-x-generic
Terminal=false
Keywords=music;jellyfin;stream;audio;player;media;jellycli;
Categories=AudioVideo;Audio;Player;
